/* GLOBAL */
body {
    background-color: #03060b !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p, div {
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* NAVBAR */
.navbar .navbar-brand {
  color: rgba(255, 255, 255, .85);
  font-size: 1rem;
  padding-top: .45rem;
}

.navbar {
  background-color: #03060b;
}


/* HERO BANNER */

.home-hero .jumbotron {
  background-color: #03060b;
  background: url('../img/img-banner-home@2x.png');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 80vh;
}

.home-hero .hero-heading-lg {
  font-size: 60px;
  line-height: 86px;
  font-weight: 300;
  color: #ffffff;
}

.home-hero .hero-lead-lg {
	font-size: 19px;
	line-height: 27px;
	color: #bdbdbd;
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* PROJECTS */

.card {
  border: 0px;
  border-radius: 0px;
  background-color: #000000;
  padding:2px;
  margin:0px;
}

.card-img {
  border-radius: 0px;
  padding:0px;
}

.card-feature {
  padding: 0px;

}

.card-regular {
  padding: 0px;
}

.card-title {
  font-size: 20px;
  font-weight: 300;
  color: #fff

}

.card .card-sub-title {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

/* FOOTER */

.footer .jumbotron {
  background-color: #03060b;
}

.footer .jumbotron .contact {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.footer .jumbotron .lead-email a {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
}


.footer {
  padding-top: 26px;

}
