/*global*/

body {
    background-color: #FFF!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p, div {
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/*.sec-title {
  font-weight: 300;
  color: #fff;
}*/

/*navbar*/
.navbar .navbar-brand {
  color: rgba(41 , 41, 41, .85);
  font-size: 1rem;
  padding-top: .45rem;
}

.navbar {
  background-color: #FFF;
}
 /* Hero */

.hero .jumbotron .display-3 {
   font-size: 60px;
   line-height: 80px;
   color:#fff;
 }

 .hero .jumbotron .lead {
   font-size: 19px;
   line-height: 32px;
   color: #9B9B9B;
 }

.hero .jumbotron {
   background: url('../img/axa_proj.png');
   background-size: cover;
   /*background-attachment: fixed;*/
   background-repeat: no-repeat;
   background-position: center center;
   height: 60vh;
   min-height: 400px;
 }

 .vertical-center {

   display: flex;
   align-items: center;
 }

 .carousel-item .full-width {
   width: 100vw;
 }



 .footer .jumbotron {
   background-color: #fff;
 }

 .footer .jumbotron .contact {
   color: rgba(41 , 41, 41, .85);
   font-weight: 300;
 }

 .footer .jumbotron .lead a  {
  color: rgba(41 , 41, 41, .85);
   font-weight: 300;

 }
/*

 .footer {
   padding-top: 130px;
   padding-bottom: 130px;
 }*/
